/* Outermost wrapping elements */

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #111;
	font-size: 1.375em;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
	overflow: hidden;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 30px 0 0 0;
	color: #FFF;
	height: 100%;
	background-color: #111;
	font-size: calc(11px + 0.6vw);
}

.left_col {
    flex: 0 0 260px;
}



/* Generic element settings */

p {
    margin: 0px 0px 0.1rem 0px;
}

a, a:hover {
    color: #FFF;
}

.ui-tooltip {
    border-color: dimgray;
    background-color: black;
    color: white;
    font-size: 11px;
}

.smallcaps {
    font-variant: small-caps;
    font-weight: bold;
}



/* The containers, top and bottom */

.top_container {
    display: flex;
    min-height: 60%;
    max-height: 75%;
}

.bottom_container {
	padding: 0;
}



/* Thumbnails. Flexbox of tiles for each image */

#destinationThumbs {
    display: flex;
    flex-wrap: wrap-reverse;
}

.thumbnail {
	display: block;
	margin: 0 20px 10px 0;
	padding: 2px;
	border-radius: 2px;
	width: fit-content;
}

.thumbname {
    padding: 0px 5px;
    background-color: #000000AA;
    font-size: 11px;
}

@media screen and (max-height: 768px) {
    .thumbnail {
        position: relative;
    }
    
    .thumbname {
        position: absolute;
        bottom: 4px;
        left: 4px;
        font-weight: bold;
        width: 96px;
    }
}

.thumbnail.border_white:hover {
    text-decoration: none;
    color: #44FF44;
}

.border_black {
	border: 2px solid #000;
}

.border_white {
	border: 1px solid #FFF;
}

.border_green {
	border: 2px solid #44ff44; /* considered #FBCB1F alternate color */
}

.text_green {
	color: #44ff44;
}



/* Lighting buttons */

.lighting_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 71px;
}

.rl_text {
    font-size: 12px;
}

.lighting_buttons .fas {
    cursor: pointer;
    font-size: 1.5em;
}

.lighting_buttons .button_hide {
    display: none;
}

.reallight {
    color: #EFA928;
}

.fulllight {
    color: lightgray;
}

#thumbs_note {
    color: #EFA928;
    font-size: 12px;
}



/* WWT canvas */

#wwtcanvas {
	width: 99%;  /* note: overridden in SSE_script.js */
	height: 100%;  /* note: overridden in SSE_script.js */
	margin: auto;
	border: solid 1px #333;
	position: relative;
	box-sizing: content-box;
}

#page_title {
	position: absolute;
	top: 30px;
	right: 0px;
    padding: 10px 15px;
    background-color: black;
    color: #44ff44;
    opacity: .80;
	margin: 0;
    border-right: 3px solid #44ff44;
	font-size: calc(4px + 1.5vw);
	font-weight: 700;
	pointer-events: none;
}


#tips_container {
    position: absolute;
    bottom: 25px;
    left: 0px;
    padding-left: 25px;
    text-align: left;
    pointer-events: none;
}

#tips_button {
    text-align: right;
    pointer-events: all;
}

#tips_text {
    border: 3px solid #41BEEC;
    border-radius: 15px;
    padding: 5px;
    font-size: 0.75em;
}

#tips_text:hover {
    background-color: #41BEEC22;
}

#tips_text:active {
    background-color: #41BEEC44;
}

#tips_text a {
    color: #41BEEC;
    text-decoration: none;
}


#time_size_container {
    position: absolute;
    bottom:10px;
    right: 0px;
    padding-right: 25px;
    text-align: left;
    pointer-events: none;
}

#time_buttons a {
    color: #666;
    cursor: default;
}

#time_buttons .text_orange {
    color: #EFA928;
}

#time_buttons .fa-stack {
    pointer-events: none;
}

#time_buttons .fa-stack.time_active {
    color: white;
    pointer-events: all;
    cursor: pointer;
}

#time_buttons .time_active:hover .fa-stack-1x {
    color: #44FF44;
}

#time_buttons .time_active:active {
    color: #44FF44;
}

#now_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#now_text {
    font-size: 0.5em;
}

#reset_time:hover {
    text-decoration: none;
}

.times {
    padding-left: 2px;
}

#speedometer, #size_text {
    padding: 10px 5px;
    font-size: 0.68em;
}

#speedometer {
    margin-bottom: 20px;
}

#time_rate, #size {
    font-family: monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    color: #44FF44;
}

#size_slider {
    width: 9.3em;
    border-radius: 12em;
    height: 0.6em;
    pointer-events: all;
}

#size_slider span {
    top: -.35em;
    background-color: #EFA928;
    border: 2px solid black;
    border-radius: 12px;
}

#size_slider span:hover {
    background-color: #44FF44;
}

#size_slider span:focus {
    outline: none;
    background-color: #00000088;
    border: 2px solid #44FF44;
}

#size_slider span:active {
    background-color: #00000088;
    border: 2px solid #44FF44;
}


#zoom_pan_container {
	position: absolute;
	bottom: 20px;
	width: 100%;
    pointer-events: none;
}

@media screen and (max-width: 1140px) {
    #zoom_pan_container {
        display: none;
    }
}

#zoom_pan_instrux {
    width: 27em;
    margin: 0 auto;
	text-align: center;
	font-size: 0.6em;
	color: #EEEEEECC;
    background-color: #00000066;
    border-radius: 25px;
}

#zoom_pan_instrux strong {
    font-family: monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    color: #EFA928;
}



/* Object Scale popup images */

.scale_popup {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 40%;
    max-height: calc(100% - 40px);
    border: 2px solid #333333BB;
    border-radius: 5px;
    overflow: hidden;
}

.scale_popup img {
    width: 100%;
    position: relative;
}

.close_scale {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-weight: bolder;
    border-width: 0;
    background-color: #0000;
}

#new_horizons .close_scale {
    color: white;
}

.close_scale:hover {
    cursor: pointer;
}



/* Target Descriptions */

#description_box {
	position: relative;
	margin-top: 20px;
	padding: 10px;
	border: solid 1px #44ff44;
	border-radius: 5px;
	background-color: #222223;
	box-shadow: 0px 0px 15px #000 inset;
}

.thumbs_expl {
    user-select: none;
	text-align: center;
    padding: 20px;
    color: #EFA928;
    border-bottom: dotted #44FF44 2px;
}

.begin_ss {
    margin-top: 1em;
    text-align: left;
}

.begin_ss_h4 {
    margin: 25px 15px 0.3rem 15px;
	color: #EFA928;  /* used to be #8AFF8A */
    font-size: calc(10px + 1.25vw);    
}

.begin_ss_p {
    margin: 0px 15px 0.3rem 15px;
}

#description_container {
	display: block;
	height: 100%;
	overflow-y: auto;
}

#description_box .container-fluid {
	display: none;
}

#description_box .row * + div {
	margin-top: 1em;
}

#description_box .row h3 {
    color: white;
    padding: 10px 0px 15px;
    border-bottom: dotted #44FF44 2px;
    text-align: center;
    font-size: calc(10px + 1.5vw);
}

#description_box .row h4, #tipsModal h4 {
    margin-bottom: 4px;
	color: #EFA928;
    font-size: calc(10px + 1.25vw);
}

#description_box .row p {
    margin-bottom: 15px;
}

#description_box .row a {
	color: #41BEEC;
}

#description_box i {
	position: absolute;
	bottom: 10px;
	right: -30px;
    font-family: "Font Awesome 5 Free";
	font-style: normal;
}

.stagename {
    font-size: 80%;
    color: #44FF44;
    padding-left: 10px;
}

.topbullet {
    margin: 10px 0 5px;
    color: #8AFF8A;
}

#scroll_arrow {
    display: none;
	color: #EFA928;
}

.fa-arrow-down {
	display: none;
}



/* Colophon section */

#colophon {
	position: absolute;
	bottom: 10px;
    display: flex;
    align-items: center;
}

#colo_left {
    min-width: 70px;
    padding-bottom: 5px;
}

#colophon p {
    font-size: 9px;
    color: #BBB;
}

.colophon_link {
    color: #41BEEC;
}

#colophon img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 5px;
}




