/* Outermost wrapping elements */

html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #111;
	font-size: 1.375em;
	font-family: 'Roboto', sans-serif;
}

body {
	position: relative;
	overflow: hidden;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 30px 0 0 0;
	color: #FFF;
	height: 100%;
	background-color: #111;
	font-size: calc(11px + 0.6vw);
}

.left_col {
    flex: 0 0 260px;
}




/* Generic element settings */

p {
  margin: 0px 0px 0.1rem 0px;
}

a, a:hover {
  color: #FFF;
}



/* The containers, top and bottom */

.top_container {
    display: flex;
    min-height: 50%;
}

.bottom_container {
	padding: 0;
}


/* Thumbnails. Flexbox of tiles for each image */

#destinationThumbs {
    display: flex;
    flex-wrap: wrap-reverse;
}

.thumbnail {
	display: block;
	margin: 0 20px 10px 0;
	padding: 2px;
	border-radius: 2px;
	width: fit-content;
}

.thumbname {
    padding: 0px 5px;
/*    height: 11px;*/
    background-color: black;
    font-size: 11px;
}
.thumbnail.border_white:hover {
    text-decoration: none;
    color: #44FF44;
}

.border_black {
	border: 2px solid #000;
}

.border_white {
	border: 1px solid #FFF;
}

.border_green {
	border: 2px solid #44ff44; /* considered #FBCB1F alternate color */
}

.text_green {
	color: #44ff44;
}

.text_orange {
    color: #EFA928;
}

.lighting_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 71px;
}

.rl_text {
    font-size: 12px;
}

.lighting_buttons .fas {
    cursor: pointer;
}



/* WWT canvas */

#wwtcanvas {
	width: 90%;  /* note: overridden in script.js */
	height: 100%;  /* note: overridden in script.js */
	margin: auto;
	border: solid 1px #333;
	position: relative;
	box-sizing: content-box;
}

#page_title {
	position: absolute;
	top: 30px;
	right: 0px;
    padding: 10px 30px;
    background-color: black;
    color: #44ff44;
    opacity: .80;
}

#time_buttons {
    position: absolute;
    top: 90px;
    right: 0px;
    width: 275px;
    padding-right: 35px;
    text-align: left;
    color: #666;
    cursor: default;
}

#time_buttons .time_active {
    color: white;
    cursor: pointer;
}

#time_buttons i {
    pointer-events: none;
}

#time_buttons .time_active:hover .fa-stack-1x {
    color: #44FF44;
}

#time_buttons .time_active:active {
    color: #44FF44;
}

#reset_time {
    display: flex;
    float: left;
    margin-right: 4px;
    justify-content: center;
    align-items: center;
}

#now_text {
    font-size: 10px;
}

.times {
    padding-left: 2px;
}

.slide_container {
    position: absolute;
    top: 160px;
    right: 0px;
    width: 275px;
    text-align: left;
}

.slider {
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

#wwtcanvas h1 {
	margin: 0;
    border-right: 3px solid #44ff44;
	font-size: calc(12px + 1vw); 
	font-weight: 700;
	pointer-events: none;
}

#reset_target {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: "Font Awesome 5 Free";
    color: #41BEECC0;
    font-size: 1.25em;
    display: none;
}

#speedometer {
    position: absolute;
    top: 130px;
    right: 0px;
    width: 275px;
    padding: 0 6px;
    text-align: left;
    font-size: 15px;
}

#speed {
    font-family: monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    color: #44FF44;
}


#reset_target:hover{
    color: #41BEEC;
}

#zoom_pan_container{
	position: absolute;
	bottom: 20px;
	width: 100%;
    pointer-events: none;
}

@media screen and (max-width: 976px) {
    #zoom_pan_container {
        display: none;
    }
}

#zoom_pan_instrux {
	width: 600px;
    margin: 0 auto;
	text-align: center;
	font-size: 0.8rem;
	color: #EEEEEECC;
    background-color: #00000066;
    border-radius: 25px;
}

#zoom_pan_instrux strong {
    font-family: monospace, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    color: #EFA928;
}




/* Target Descriptions */

#description_box {
	position: relative;
	margin-top: 20px;
	padding: 10px;
	border: solid 1px #44ff44; /* considered #FBCB1F alternate color */
	border-radius: 5px;
	background-color: #222223;
	box-shadow: 0px 0px 15px #000 inset;
}

#begin_container {
    margin-top: 50px;
	text-align: center;
    pointer-events: none;
    user-select: none;
}

.begin_ss {
    margin-top: 1em;
    font-size: .9em;
    text-align: left;
}

#description_container {
	display: none;
	height: 100%;
	overflow-y: auto;
}

#description_box .container-fluid {
	display: none;
}

#description_box .row * + div {
	margin-top: 1em;
}

#description_box .row h3 {
    color: white;
    padding: 10px 0px 15px;
    border-bottom: dotted #44FF44 2px;
    text-align: center;
    font-size: calc(10px + 1.5vw);
}

#description_box .row h4 {
    margin-bottom: 4px;
	color: #EFA928;  /* used to be #8AFF8A */
    font-size: calc(10px + 1.25vw);
}

#description_box .row p {
    margin-bottom: 15px;
}

#description_box .row a {
	color: #41BEEC;
}

#description_box i {
	position: absolute;
	bottom: 10px;
	right: -30px;
    font-family: "Font Awesome 5 Free";
	font-style: normal;
}
.stagename {
    font-size: 80%;
    color: #44FF44;
    padding-left: 10px;
}

.topbullet {
    margin: 10px 0 5px;
    color: #8AFF8A;
}

#scroll_arrow {
    display: none;
	color: #EFA928; /* considered #FBCB1F alternate color */
}

.fa-arrow-down {
	display: none;
}





/* Colophon section */

#colophon {
	position: absolute;
	bottom: 10px;
/*
	left: 5%;
    width: 90%;
*/
    display: flex;
    align-items: center;
}

#colo_left {
    min-width: 70px;
    padding-bottom: 5px;
}

#colophon p {
  font-size: 9px; /* used to 0.5em */
  color: #BBB;
}

.colophon_link {
    color: #41BEEC;
}

#colophon img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 5px;
}